#header{
    margin-top:20px
}

#page-container{
    margin-bottom:20px
}

#url-rewriting-warning{
    display:none
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.input_date {
  width: auto;
  display: inline;
}

